/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts

$font-main: 'Helvetica Neue';

// Colors
$white: #fff;
$black: #000;

$dark: #25282a;
$light: #f6f5f5;
$light2: #f3f3f3;
$black2: #0f0f0f;
$snow: #f9f9f9;
$bittersweet: #fc6d6d;
$cloud-burst: #343f4f;
$sea-buckthorn: #ef9b4e;
$olivine: #93be68;
$grey: #7d7d7d;
$wild-willow: #c0c257;
$true-v: #8057c2;
$whisper: #ededed;
$sunglow: #fdc52e;
$viridian: #367f61;
$blue-stone: #0e6c62;
$dark-green: #0b2f28;
$blue: #0031f9;
$fallow: #c29e60;
$tangaroa: #011e41;
$atoll: #2b7681;
// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone-xxxs: 320;
$phone-xxs: 400;
$phone-x2: 422;
$phone-xs: 600;
$phone-s: 710;
$phone: 767;
$tablet-xs: 900;
$tablet: 1030;
$tablet-s: 1100;
$tablet-l: 1199;
$lap-small: 1300;
$lap-large: 1500;
$lap-large-1: 1630;


