.brands-all {
	padding: 200px 0 140px;
	background-color: $black2;

	.section-head__title {
		max-width: 644px;
		margin: 0 auto;
		text-align: center;
	}

	@include mq($lap-small) {
		padding: 140px 0;
	}

	@include mq($phone-s) {
		padding: 100px 0 40px;
	}
}

.brands-all__container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 300px;

	@include mq($lap-small) {
		margin-top: 100px;
	}
}

.brand-all__item {
	flex: 0 0 20%;
	max-width: 20%;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
}
