.cards {
    padding: 146px 0 50px;
    position: relative;

    .section-head__title {
        max-width: 600px;
        margin-bottom: 30px;
    }

    @include mq($tablet-l) {
        padding: 112px 0;
    }

    @include mq($tablet-xs) {

        .section-head__title {
            max-width: 525px;
        }
    }

    @include mq($phone) {
        padding: 50px 0;
    }

    @include mq($phone-xs) {
        .section-head__title {
            max-width: 425px;
            font-size: 30px;
        }
    }
}

.cards-top {
    opacity: 0;
    transform: translateY(60px);
    transition: $dur $ease;
}

// #cards {
//     background-color: $white;
// }

.cards-margin {
    margin-top: -150px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #f9f9f9;

    @include mq($tablet) {
        padding: 0;
    }

    @include mq($phone) {
        margin-top: -100px;
        padding-bottom: 50px;
    }
}

.cards-cta {
    font-size: 20px;
    line-height: 1.8;

    a {
        color: $viridian;
        position: relative;
        font-weight: 500;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $viridian;
            transform-origin: left;
            transition: 600ms $ease; 
        }
     
        &:hover::before {
            width: 100%;
        }
    }

    

    @include mq($phone-xs) {
        font-size: 16px;
    }
}

.cards__container {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    .card-item:nth-of-type(2) {
        margin-top: 100px;
    }

    .card-item:nth-of-type(3) {
        margin-top: -250px;
        text-align: right;
    }

    .card-item:nth-of-type(4) {
        margin-left: auto;
        margin-top: -280px;
    }

    .card-item:nth-of-type(6) {
        margin-top: -170px;
        transform: translate(50%, 0);
    }

    .card-item:nth-of-type(8) {
        margin-left: auto;
        margin-top: -360px;
    }

    @include mq($tablet-s) {
        margin-top: 100px;

        .card-item:nth-of-type(2) {
            margin-top: 0;
        }

        .card-item:nth-of-type(3) {
            margin-top: 0;
            text-align: right;
        }

        .card-item:nth-of-type(4) {
            margin-top: 0;
            margin-left: 0;
        }

        .card-item:nth-of-type(6) {
            margin-top: 0;
            transform: none;
        }

        .card-item:nth-of-type(8) {
            margin-left: 0;
            margin-top: 0;
        }
    }

    @include mq($phone-xs) {
        margin-top: 80px;
        display: block;
    }
}

.break-line {
    flex-basis: 100%;
    width: 100%;

    @include mq($tablet-s) {
        display: none;
    }
}

.card-item {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0 20px;
    max-height: 705px;
    opacity: 0;

    img {
        width: 100%;
        margin-top: 50px;
    }

    @include mq($lap-small) {
        margin: 0;
    }

    @include mq($tablet-s) {
        flex: 0 0 47%;
        max-width: 47%;
        margin-bottom: 100px;
    }

    @include mq($phone-s) {
        padding: 0;
        padding-right: 20px;
        margin-bottom: 60px;
    }

    @include mq($phone-xs) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 80px;
    }
}

// .card-item__three {
//     opacity: 1;
//     flex: 0 0 30%;
//     max-width: 30%;
//     margin: 0 20px;
//     max-height: 705px;
// }

.card-item__info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-align: left;

    @include mq($phone-s) {
        flex-direction: column;
        margin-top: 20px;
    }

    @include mq($phone-xs) {
        flex-direction: row;
    }
}

.card-item__info-title {
    flex: 0 0 40%;
    max-width: 40%;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: $black2;
    text-transform: capitalize;

    @include mq($lap-large-1) {
        padding-right: 18px;
        padding-left: 15px;
    }

    @include mq($tablet) {
        font-size: 18px;
        padding-left: 6px;
    }

    @include mq($phone-s) {
        padding-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    @include mq($phone-xs) {
        font-size: 21px;
        flex: 0 0 40%;
        max-width: 40%;
    }

    @include mq($phone-x2) {
        font-size: 19px;
    }
}

.card-item__info-text {
    flex: 0 0 60%;
    max-width: 60%;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    color: $grey;

    @include mq($tablet) {
        font-size: 15px;
    }

    @include mq($phone) {
        flex: 0 0 50%;
        max-width: 50%;
        line-height: 1.3;
    }
}

.cards__bottom-text {
    max-width: 710px;
    padding-left: 250px;
    opacity: 0;

    h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.025em;
        color: $black2;
    }

    @include mq($lap-large-1) {
        padding-left: 150px;
        max-width: 589px;
    }

    @include mq($tablet-s) {
        margin-top: 0;
        padding: 40px 0 140px;
    }

    @include mq($tablet-xs) {
        margin: 0 auto;
        text-align: center;
    }

    @include mq($tablet-l) {
        padding: 40px 0 30px;
        text-align: left;
        margin: auto;
        transform: translateY(0) !important;
    }

    @include mq($phone) {
        h3 {
            font-size: 24px;
        }
    }
}

.card__bottom-text__btn {
    margin-top: 45px;
}

.home {
    .cards__bottom-text {
        max-width: 670px;
    }
}