.content-full__wrap {
    margin-top: 100px;

    .section-head__title {
        max-width: 480px;
        margin-bottom: 40px;
        font-size: 32px;
    }
}

.section-head__subtitle {
    margin-bottom: 100px;
    max-width: 1000px;
}
