.contact-content {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), $snow;
    padding-bottom: 150px;
}

.contact-content__text {
    p {
        font-size: 42px;
        line-height: 1.14;
        color: $black2;
        letter-spacing: -0.01em;
    }

    @include mq($phone) {
        p {
            font-size: 30px;
            max-width: 330px;
            margin: 0 auto;
            text-align: center;
            padding-top: 100px;
        }
    }
}

.contact-cta {
    font-size: 20px;
    line-height: 1.8;
    display: block;
    margin-top: 80px;

    @include mq($phone) {
        margin-top: 40px;
    }
}

.contact-form {
    padding: 160px 0;
    background-color: $black2;

    @include mq($phone) {
        padding: 100px 0;
    }

    span, p {
        font-size: 32px;
        line-height: 1.2;
        vertical-align: middle;
        letter-spacing: -0.01em;
        color: $white;

        @include mq($tablet) {
            font-size: 29px;
        }

        @include mq($phone) {
            font-size: 24px;
        }

        @include mq($phone-xs) {
            line-height: 1.3;
        }

        @include mq($phone-xxxs) {
            font-size: 20px;
        }
    }

    span {
        @include mq($tablet) {
            display: none;
        } 
    }

    sup {
        color: $grey;
        margin-right: 10px;
        font-size: 16px;
        @include mq($phone) {
           font-size: 13px;
        }

        @include mq($phone) {
            margin: 20px 0 40px;
            display: block;
            margin-right: 0;
        } 
    }
      
    input {
        border-width: 0 0 2px;
        border-color: $white;
        font-size: 30px;
        line-height: 1.4;
        font-family: $font-main;
        margin: 0 20px;
        color: $white;
        padding-left: 10px;
        margin-bottom: 20px;

        &::placeholder {
            color: $grey;
            font-size: 18px;
        }

        @include mq($tablet-s) {
            margin-bottom: 40px;
        }

        @include mq($phone) {
            margin-left: 0;
            font-size: 17px;
            margin-top: 20px;
            border-width: 0 0 1px;
        }
    }
      
    input:focus {
        outline: none;
    }
      
    .name-field {
        max-width: 400px;
        width: 100%;

        @include mq($tablet) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
    }
      
    .email-field {
        max-width: 487px;
        width: 100%;

        @include mq($tablet) {
            max-width: 100%;
        }
    }

    .deadline-field {
        max-width: 280px;
        width: 100%;

        @include mq($tablet) {
            max-width: 100%;
        }
    }

    #services {
        max-width: 380px;
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-width: 0 0 2px;
        border-color: $white;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        margin: 0 10px 20px;
        color: $white;
        font-family: $font-main;

        option {
            background-color: $black2;
        }

        @include mq($tablet) {
           margin: 0 10px 40px;
        }

        @include mq($tablet) {
            margin: 40px 0;
            font-size: 17px;
            max-width: 100%;
            height: auto;
            border-width: 0 0 1px;
        }
    }

    #price {
        max-width: 380px;
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-width: 0 0 2px;
        border-color: $white;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        margin: 0 10px 20px;
        color: $white;
        font-family: $font-main;

        option {
            background-color: $black2;
        }

        @include mq($tablet) {
            font-size: 17px;
            height: auto;
            max-width: 100%;
            margin: 20px 0;
            border-width: 0 0 1px;
        }
    }

    .textarea {
        margin-top: 60px;
        display: block;
    }

    .textarea-field {
        max-width: 750px;
        width: 100%;
    }

    #textarea {
        max-width: 100%;
        width: 100%;
        margin-top: 40px;
        min-height: 200px;
        border-width: 1px 0;
        border-color: $white;
        background-color: transparent;
        font-size: 24px;
        color: $white;
        padding: 10px;

        @include mq($phone) {
            font-size: 16px;
        }
    }  
}

.contact-cta-bottom {
    padding: 120px 0;
    text-align: center;

    .section-head__title {
        max-width: 750px;
        width: 100%;
        margin: 0 auto 60px;
    }

    p {
        font-size: 20px;
    }

    a {
        color: $viridian;
        font-weight: 500;
        line-height: 1.8;
        position: relative;

        
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $viridian;
            transform-origin: left;
            transition: 600ms $ease; 
        }

        &:hover::before {
            width: 100%;
        }
    }
}

.contact-btn {
    margin-top: 60px;
    text-align: center;

    button {
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        color: $black2;
        background-color: $sunglow;
        font-weight: 500;
        opacity: 1;
        transition: $dur $ease;
        border: none;

        &:hover {
            opacity: 0.5;
        }
    }

    @include mq($phone) {
        button {
            font-size: 14px;
        }
    }
}

.contact-text2 {
    display: none;

    @include mq($tablet) {
        display: block;
    }
}

.contact-text3 {
    display: none;
    max-width: 240px;

    @include mq($tablet) {
        display: block;
        max-width: 100%;
    }
}