.cta {
    background-color: $white;
    padding: 130px 0 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 1px;
        background-color: $grey;
    }


    @include mq($tablet) {
        padding: 130px 0 0;
    }

    @include mq($phone-s) {
        padding: 80px 0 40px;
    }
}

.cta--home {
    margin-top: 600px;

    @include mq($phone) {
        margin-top: 400px;
    }
}

.cta__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 30px;

    @include mq($phone) {
        flex-direction: column;
        padding-bottom: 0;
    }
}

.cta__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include mq($tablet) {
        flex-direction: column;
    }
}

.cta__wrap,
.cta__right {
    flex: 0 0 50%;
    max-width: 50%;

    @include mq($tablet) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.cta__right {
    img {
        margin-left: auto;
    }

    @include mq($tablet) {
        img {
            // width: 60%;
            margin: 100px auto;
        }
    }

    @include mq($phone) {
        img {
            // width: 70%;
            margin: 50px auto 0;
        }
    }
}

.cta__title {
    font-size: 42px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    color: $black2;
    max-width: 411px;
    
    a {
        position: relative;
        color: $blue-stone;

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0;
            background-color: $blue-stone;
            height: 4px;
            transition: $dur $ease;
        }
    }

    &:hover {
        a {
            opacity: 1;
           &::after {
            width: 100%;
           }
        }
    }

    @include mq($tablet-l) {
        max-width: 440px;
        font-size: 46px;
    }

    @include mq($phone) {
        font-size: 36px;
    }
}
