.footer {
    padding: 100px 0 60px;
    background-color: $white;

    @include mq($phone-s) {
        padding: 50px 0 20px;
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq($phone-xs) {
        display: block;
    }
}

.footer__container-left {
    flex: 0 0 40%;
    max-width: 40%;
}

.footer__container-list {
    display: flex;
    flex-wrap: wrap;

    li {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;

        a {
            font-size: 42px;
            font-weight: 400;
            line-height: 1.14;
            letter-spacing: -0.025em;
            transition: $dur $ease;

            &:hover {
                color: #fff;
                text-shadow:
                    -1px -1px 0 $black2,
                    1px -1px 0 $black2,
                    -1px 1px 0 $black2,
                    1px 1px 0 $black2;
            }
        }
    }

    @include mq($tablet-l) {
        li {
            a {
                font-size: 32px;
            }
        }
    }

    @include mq($phone) {
        display: block;

        li {
            flex: 0 0 100%;
            max-width: 100%;

            a {
                font-size: 27px;
            }
        }
    }
}

.footer__container-right {
    flex: 0 0 30%;
    max-width: 30%;

    @include mq($phone-xs) {
        margin-top: 40px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.footer__container-right-media {
    display: flex;

    li {
        padding: 0 20px;


        &:first-of-type {
            padding-left: 0;
        }
    }

    span {
        &:hover {
            opacity: 0.6;
        }
    }

    @include mq($phone-s) {
        li {
            padding: 0 10px;
        }
    }
}

.social-media-icon {
    font-size: 21px;

    @include mq($phone-s) {
        font-size: 15px;
    }
}

.footer__mail {
    margin-top: 20px;

    a {
        font-size: 16px;
        line-height: 1.37;
        color: $grey;
        transition: $dur $ease;
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $black2;
            transform-origin: left;
            transition: 600ms ease;
        }

        &:hover::after {
            width: 100%;
        }
    }

    @include mq($phone-s) {
        margin-top: 30px;
    }
}

.footer__bottom {
    margin-top: 100px;

    @include mq($phone-s) {
        margin-top: 70px;
    }
}