.four-sm-images {
    padding: 120px 0;

    @include mq($phone) {
        padding: 25px 0;
    }
}

.four-sm-images__container {
    display: flex;
    justify-content: space-between;
}

.four-sm-item {
    flex: 0 0 23%;
    max-width: 23%;
    margin-right: 40px;
    flex-shrink: 1;

    img {
        width: 100%;
    }

    &:last-of-type {
        margin-right: 0;
    }

    @include mq($phone) {
        flex: 47%;
        max-width: 47%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}