.half-text {
    padding: 100px 0 0;

    @include mq($phone) {
        padding: 0;
    }
}

.half-text__container {
    display: flex;
    justify-content: space-between;

    @include mq($phone) {
        display: block;
        padding: 50px 0 0;
    }
}

.half-text__left {
    max-width: 535px;
}

.half-text__right {
    max-width: 400px;

    p {
        color: $grey;
    }
}

.half-text-img__bottom {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}