.half-sec {
    padding: 140px 0;
    background-color: $white;

    @include mq($phone-s) {
        padding: 100px 0;
    }

    @include mq($phone-xs) {
       padding: 70px 0;
    }
}

.half-sec__container {
    display: flex;
    align-items: center;

    @include mq($phone-s) {
        display: block;
    }
}

.half-sec__left {
    flex: 0 0 35%;
    max-width: 35%;
    padding-left: 120px;

    @include mq($tablet-l) {
        padding-left: 35px;
    }

    @include mq($tablet) {
        padding-left: 0;
    }

    @include mq($phone-s) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 50px;
    }
}

.half-sec__left-img {
    img {
        border-radius: 10px;
    }
}

.half-sec__right {
    max-width: 759px;
    padding-left: 100px;

    @include mq($tablet-l) {
        max-width: 557px;
        padding-left: 70px;
    }

    @include mq($tablet) {
        max-width: 447px;
        padding-left: 44px;
    }

    @include mq($phone-xs) {
        padding-left: 0;
    }
}

.half-sec__right-title {
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: $black2;
    margin-bottom: 40px;
    max-width: 486px;

    @include mq($tablet-l) {
        font-size: 28px;
    }

    @include mq($phone) {
        font-size: 20px;
    }
}

.half-sec__right-title2 {
    margin-bottom: 0;
}

.half-sec__right-desc {
    font-size: 16px;
    line-height: 1.375;
    color: $grey;
    font-weight: 500;
    margin: 40px 0 60px;
    max-width: 332px;

    @include mq($tablet) {
        margin-bottom: 33px;
    }

    @include mq($phone) {
        font-size: 15px;
    }
}

.half-sec__change-text {
    text-align: center;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 500;
    color: $black2;
    margin-top: 250px;

    @include mq($lap-small) {
       margin-top: 200px;
    }

    @include mq($phone-s) {
        margin-top: 120px;
        font-size: 30px;
    }
}