.image-sec--white {
    padding-top: 300px;

    @include mq($phone) {
        padding: 0;
    }
}

.image-sec__logo {
    padding: 50px 0 350px;
    display: flex;
    justify-content: center;

    @include mq($phone-s) {
        padding: 150px 0;

        img {
            width: 50%;
        }
    }
}

.image-sec__logo--sm {
    padding: 150px 0 110px;

    @include mq($phone) {
        padding: 70px 0 110px;
    }
}

.image-sec__full-img {
    margin-bottom: 40px;
    margin-top: 40px;

    img {
        width: 100%;
        border-radius: 15px;
    }

    @include mq($phone) {
        margin-top: 20px;
    }
}


.image-sec__img-half {
    position: relative;
    z-index: 10;
    margin: 200px 0;

    img {
        margin: 0 auto;
    }

    @include mq($phone) {
        margin: 100px 0;
    }
}

// .setion {
//     height: 100vh;
//     background-color: $white;
// }