.resources {
    padding: 100px 0 12px;
    background-color: $light2;

    @include mq($phone) {
        padding: 70px 0 60px;
    }
}

.resources__container {
    display: flex;
    flex-wrap: wrap;
}

.resource-item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-right: 40px;
    margin-bottom: 100px;

    @include mq($tablet) {
        flex: 50%;
        max-width: 50%;
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
	}
}

.resource-item__img {
    margin-bottom: 10px;

    img {
        width: 100%;
        border-radius: 10px;
    }
}

.resource-item-date {
    font-size: 10px;
    line-height: 1.2;
    color: $grey;
}

.resource-item__title {
    font-size: 20px;
    line-height: 1.2;
    color: $black2;
    margin: 20px 0;
    font-weight: 500;
}

.resource-item__content {
    p {
        color: $grey;
        margin-bottom: 0;
    }
}

.single-post__content {
    padding: 30px 0 0;

    p {
        font-size: 20px;
        line-height: 1.5;
    }

    a {
        color: $blue-stone;
        text-decoration: underline;
        transition: $dur $ease;

        &:hover {
            opacity: 0.8;
        }
    }

    @include mq($phone) {
        padding: 0;

        p {
            font-size: 17px;
        }
    }
}

.single__content-half-sec__img-item {
    position: relative;

    span {
        position: absolute;
        top: 2%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 42px;
        line-height: 1.14;
        letter-spacing: -0.01em;
        color: $black2;
    }

    @include mq($phone) {
        span {
            font-size: 20px;
            max-width: 176px;
        }
    }
}

.single__content-half-sec__img {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.single-post__content-bottom {
    background-color: $black;
    padding: 40px 60px;
    margin-top: 100px;
    border-radius: 30px;

    h2, p {
        color: $white;
    }

    ul li {
        color: $white;
        list-style: none;
        padding-bottom: 15px;
        font-size: 20px;
        position: relative;
        padding-left: 25px;

        &::before {
            content: '•';
            margin-right: 30px;
            position: absolute;
            left: 0;
        }
    }

    @include mq($phone) {
        padding: 40px 23px;
        margin-top: 60px;

        ul li {
            font-size: 16px;
        }
    }      
}

.single__content-image-text {
    margin-top: 70px;
}

.single__content-image-text__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mq($phone) {
        display: block;

        img {
            margin-bottom: 30px;
        }
    }
}

.single__content-image-text__item {
    flex: 50%;
    max-width: 50%;

    @include mq($phone) {
        flex: 100%;
        max-width: 100%;
    }
}