.services-index {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), $snow;
    padding-bottom: 100px;

    @include mq($tablet) {
        padding-bottom: 60px;
    }

    @include mq($phone) {
        padding-bottom: 0;
    }
}

.services-index__container,
.services-index-item-right {
    display: flex;
    justify-content: space-between;
}

.services-index__wrap {
    transition: 600ms ease;

    &:hover > .services-index__container {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    @include mq($tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include mq($phone) {
       flex-direction: column;
    }
}

.services-index__wrap-link {
    @include mq($tablet) {
        display: none;
    }
}

.services-index__container {
    // padding: 60px 0 100px;
    padding: 60px 0 50px;
    margin-bottom: 50px;
    border-top: 1px solid $grey;
    transition: 350ms ease;

    @include mq($tablet) {
        display: block;
       padding: 40px 0;
        margin-bottom: 40px;
        flex: 0 0 45%;
        // max-width: 45%;
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.services-index-item-left,
.services-index-item-right,
.services-index-item-right__left,
.services-index-item-right__right {
    flex: 0 0 50%;
    max-width: 50%;
    

    @include mq($tablet) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.services-index-item-left__title {
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin-bottom: 20px;

    @include mq($phone) {
       font-size: 26px;
    }
}

.services-index-item-left__text {
    max-width: 370px;
}

.services-index-item-right__left,
.services-index-item-right__right {
    li {
        font-size: 20px;
        line-height: 1.8;
        color: $black2;
        font-weight: 500;
    }

    @include mq($tablet-l) {
        li {
            font-size: 17px;
        }
    }

    @include mq($phone) {
        li {
            list-style: disc;
            list-style-position: inside;
        }
    }
}

.services-index-item-right {
    @include mq($tablet) {
        display: block;
    }
}

.services-index__btns {
    display: none;

    @include mq($tablet) {
        display: block;
        margin-top: 30px;
        text-decoration: underline;
        color: $black2;
        font-weight: 500;
    }
}