.services {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        background-color: $white;
    }
}

.services-after {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: -3px;
        background-color: $white;
    }
}

.services__wrap {
    background-color: $whisper;
    border-radius: 40px;
    padding: 200px 0 40px;
    position: relative;

    @include mq($lap-small) {
        padding: 140px 0;
    }

    @include mq($tablet-s) {
       padding: 140px 0 40px;
    }

    @include mq($tablet-xs) {
        padding: 102px 0 42px;
    }

    @include mq($phone-s) {
        padding: 80px 0 20px;
    }

    @include mq($phone-xs) {
        padding: 60px 0 20px;
    }
}

.services__container {
    display: flex;
    justify-content: space-between;

    @include mq($tablet-s) {
        flex-direction: column;
    }
}

.services__item-left {
    flex: 0 0 35%;
    max-width: 35%;

    .section-head__title {
        max-width: 432px;
        width: 100%;
    }

    @include mq($tablet-l) {
        .section-head__title {
            max-width: 310px;
        }
    }

    @include mq($tablet-s) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 100px;

        .section-head__title {
            max-width: 500px;
        }
    }

    @include mq($phone-xs) {
        margin-bottom: 75px;

        .section-head__title {
            max-width: 400px;
            font-size: 30px;
        }
    }
}

.services__item-right {
    flex: 0 0 65%;
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include mq($tablet-s) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @include mq($phone-xs) {
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.services__item-right-item {
   flex: 0 0 33%;
   max-width: 33%;
   margin-bottom: 60px;
   position: relative;
   padding: 40px 25px;
   min-height: 350px;
   transition: $dur $ease;

   ul {
       list-style: disc;
       margin: 0 0 0 16px;
   }

   li {
        font-size: 18px;
        line-height: 1.55;
        font-weight: 500;
        margin-bottom: 7px;
        list-style: disc;
   }

//    @include hover

    &:hover {
        .services__item-right-item-des {
            opacity: 1;
            visibility: visible;
            cursor: pointer;
        }
    }

    @include mq($tablet-l) {
        flex: 0 0 50%;
        max-width: 50%;
        li {
            font-size: 15px;
            line-height: 1.4;
        }
    }

    @include mq($tablet-s) {
        flex: 0 0 33.3%;
        max-width: 33.3%;
        margin-bottom: 100px;
    }

    @include mq($tablet) {
        flex: 0 0 50%;
        max-width: 50%;
    }


    @include mq($phone) {
        min-height: auto;
    }

    @include mq($phone-xs) {
        flex:  0 0 100%;
        max-width: 100%;
        margin-bottom: 45px;
        padding: 0;

        li {
            font-size: 15px;
        }
    }
}

.services__item-right-item-title,
.services__item-right-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 1.5;

    @include mq($tablet-l) {
        font-size: 21px;
    }

    @include mq($phone-xs) {
       margin-bottom: 20px;
       font-size: 20px;
    }
}

.services__item-right-title {
    margin-bottom: 20px;
}

.services__item-right-item-des {
    opacity: 0;
    visibility: hidden;
    transition: $dur $ease;
    padding: 40px 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    height: 100%;
    border-radius: 25px;

    p {
        color: $black2;
        margin-bottom: 20px;
    }

    a {
        text-decoration: underline;
    }

    @include mq($phone) {
       display: none;
    }
}

.services__item-right-item-btn {
   position: absolute;
   bottom: 6%;
    
    a {
        text-decoration: none;
    }
}

.services__item-btns {
    display: none;

    @include mq($tablet-l) {
        display: flex;
        align-items: center;
        margin-top: 40px;

        .btn--black {
            margin-left: 20px;
        }
    }

    @include mq($phone) {
        a {
            &:first-child {
                text-decoration: underline;
            }
        }

        .btn {
            font-size: 14px;
        }
    }
}

.services__bottom {
    background-color: $white;
    padding: 50px 0;

    @include mq($tablet-xs) {
       padding: 50px 0 0;
    }
}

.services__bottom--home {
    margin-bottom: 500px;

    @include mq($phone) {
        margin-bottom: 400px;
    }
}

.services__bottom-container {
    max-width: 1500px;
    padding: 0 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include mq($tablet-xs) {
        padding: 0;
        flex-direction: column;
    }
}

.services__bottom-item {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;

    p {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid $black2;
        font-size: 42px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        font-weight: 500;
    }

    @include mq($tablet-xs) {
        margin-bottom: 50px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    @include mq($phone) {
        margin-bottom: 30px;

        p {
            font-size: 20px;
        }
    }
}

.services__bottom-item-right {
    span {
        font-size: 24px;
        line-height: 1.2;
        color: $black2;
        display: block;
        max-width: 335px;
        letter-spacing: -0.01em;
        margin-bottom: 10px;
    }

    .color {
        color: $blue-stone;
        font-weight: 500;
        position: relative;
        
        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $blue-stone;
            transform-origin: left;
            transition: 600ms ease;
        }

        &:hover {
            &::after {
                width: 100%;
                // transform: translateX(-100%);
            }
        }
    }

    @include mq($phone) {
        span {
            font-size: 14px;
        }
    }
}