.text-top-img-bottom {
    padding: 100px 0 150px;

    @include mq($phone) {
      padding: 0;
    }
}

.text-top-img-bottom__text {
    max-width: 440px;
}

.text-top-img-bottom__image {
    margin-top: 50px;
    img {
        margin: 0 auto;
    }
}