.text-left-img-right--blue {
    padding: 110px 0 0;

    @include mq($phone) {
        padding: 30px 0 0;
    }
}

.text-left-img-right__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 110px;
    padding-top: 100px;

    @include mq($tablet-xs) {
        display: block;
    }

    @include mq($phone) {
        padding-top: 50px;
    }
}

.text-left-img-right__container--align-item-normal {
    align-items: normal;
    margin-bottom: 80px;

    .entry-content {
        p {
            color: $grey;
        }
    }

    @include mq($phone) {
        margin-bottom: 40px;
    }
}

.text-left-img-right__container--align-item-normal--reverse {
    flex-direction: row-reverse;
}

.text-left-img-right__content {
    flex: 50%;
    max-width: 50%;
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .entry-content {
        p {
            margin-bottom: 0;
        }
    }


    @include mq($tablet-l) {
        padding-right: 60px;

        .entry-content {
            p {
                font-size: 15px;
            }
        }
    }

    @include mq($tablet) {
        padding-right: 60px;
    }

    @include mq($tablet-xs) {
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 50px;
    }
}

.text-left-img-right__content--white {
    .entry-content {
        p {
            color: $white;
        }
    }
}

.text-left-img-right__content-title {
    font-family: $font-main;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: $black2;
    margin-bottom: 20px;

    @include mq($tablet-l) {
        h3 {
            font-size: 28px;
        }
    }

    @include mq($tablet) {
        h3 {
            font-size: 24px;
        }
    }

    @include mq($tablet-xs) {
        margin-bottom: 30px;
    }

    @include mq($phone) {
        font-size: 20px;
    }
}

.text-left-img-right__content-title--white {
    color: $white;
}

.text-left-img-right__content--sm {
    flex: 0 0 36%;
    max-width: 36%;

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.text-left-img-right__image {
    flex: 50%;
    max-width: 50%;
    flex-shrink: 1;

    img {
        max-height: 720px;
        // object-fit: cover;
        width: 100%;
        border-radius: 10px;
        margin-left: auto;
    }

    @include mq($tablet-xs) {
        flex: 100%;
        max-width: 100%;

        img {
            margin: 0 auto;
            min-height: auto;
        }
    }

    @include mq($phone) {
        flex: 100%;
        max-width: 100%;
    }
}

.project-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: 0 auto;
    padding-bottom: 160px;

    h5,
    span {
        font-size: 20px;
        line-height: 1.2;
        color: $black2;
        font-weight: 500;
    }

    @include mq($lap-large) {
        max-width: 1052px;
    }

    @include mq($tablet-l) {
        max-width: 603px;
    }

    @include mq($phone) {
        padding-bottom: 65px;
    }

    @include mq($phone-s) {
        max-width: 330px;
        padding: 0 15px 65px;

        h5,
        span {
            font-size: 16px;
        }
    }
}

.mihano {
    .project-name {
        h5, span {
            color: $white;
        }
    }
}