.three-fold-img__wrap {
    display: flex;
    grid-gap: 40px;
    margin-bottom: 40px;

    @include mq($phone) {
        display: block;
        margin-bottom: 30px;
    }
}

.three-fold-img__wrap--reverse {
    flex-direction: row-reverse;
}

.three-fold-img__item-left {
    display: flex;
    flex: 50%;
    max-width: 50%;

    img {
        // width: 100%;
        // max-height: 720px;
        border-radius: 15px;
        // object-fit: cover;
    }

    @include mq($phone) {
        display: block;
        flex: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

.three-fold-img__item-right {
    flex: 50%;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    grid-gap: 40px;

    img {
        // max-height: 340px;
        border-radius: 15px;
        // object-fit: cover;
    }

    @include mq($phone) {
        flex: 100%;
        max-width: 100%;
        display: block;

        img {
            margin-bottom: 30px;
        }
    }
}