/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Helvetica Neue';
    src: url('assets/fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('assets/fonts/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('assets/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('assets/fonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    // font-display: swap;
}
